.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.header-menu-item{
list-style: none;

font-weight: 400;
color: #4F5665;
}
.header-menu-link{
    text-decoration: none;
    color: #4F5665;
}
.header-menu{
display: flex;
gap: 40px;
}
.header-authen{
    display: flex;
    gap: 30px;
}
.header-authen-signin{
    border: none;
    background-color: white;
    color: #0B132A;
    font-weight: 600;
    text-decoration: none;
display: flex;
align-items: center;
flex-direction: row;
}
.header-authen-signup{
    padding: 13px 45px;
    border-radius: 50px;
        border: 1px solid #F53855;
        color: #F53855;
        font-weight: 600;
        background-color: white;
        text-decoration: none;
}
